header {
    margin: 30px auto;
    text-align: center;
    animation: slideInFromLeft 0.4s linear;
}

@keyframes slideInFromLeft {
  0% {
      transform: translateY(-20%);
      opacity: 0%;
  }
  25%{
    opacity: 0%;
  }
  50%{
    opacity: 0%;
  }
  75%{
    opacity: 50%;
  }
  100% {
    opacity: 100%;
      transform: translateY(0);
  }
}

h3 {
  color: lightseagreen;
}

a {
  text-decoration: none;
  color: #292929;
}

a:hover {
  color: rgb(87, 87, 87);
}

img{
  margin-bottom: 1%;
}

*, *::before, *::after{
  -webkit-box-sizing:padding-box;
  box-sizing:padding-box;
}
