<header>
    <img src="http://localhost:3000/get/@:name" alt=":name" />
    <h3> 
        ['<a routerLink="">home</a>','<a routerLink="ticktacktoe">tic-tac-toe</a>','<a routerLink="links">art</a>', '<a routerLink="links">links</a>'] 
    </h3>
    <!-- <div class="tickerwrapper"> -->
        <!-- <ul class='list'>
           <li class='listitem'>
            <img src="https://i.pinimg.com/originals/2f/95/7b/2f957b94668aaf62eced1547360f1c54.gif" alt="gif" srcset="">
           </li>
           <li class='listitem'>
            <img src="https://i.pinimg.com/originals/2f/95/7b/2f957b94668aaf62eced1547360f1c54.gif" alt="gif" srcset="">
           </li>
           <li class='listitem'>
            <img src="https://i.pinimg.com/originals/2f/95/7b/2f957b94668aaf62eced1547360f1c54.gif" alt="gif" srcset="">
           </li>
           <li class='listitem'>
            <img src="https://i.pinimg.com/originals/2f/95/7b/2f957b94668aaf62eced1547360f1c54.gif" alt="gif" srcset="">
           </li>
           <li class='listitem'>
            <img src="https://i.pinimg.com/originals/2f/95/7b/2f957b94668aaf62eced1547360f1c54.gif" alt="gif" srcset="">
           </li>
           <li class='listitem'>
            <img src="https://i.pinimg.com/originals/2f/95/7b/2f957b94668aaf62eced1547360f1c54.gif" alt="gif" srcset="">
           </li>
           <li class='listitem'>
            <img src="https://i.pinimg.com/originals/2f/95/7b/2f957b94668aaf62eced1547360f1c54.gif" alt="gif" srcset="">
           </li>
           <li class='listitem'>
            <img src="https://i.pinimg.com/originals/2f/95/7b/2f957b94668aaf62eced1547360f1c54.gif" alt="gif" srcset="">
           </li>
           <li class='listitem'>
            <img src="https://i.pinimg.com/originals/2f/95/7b/2f957b94668aaf62eced1547360f1c54.gif" alt="gif" srcset="">
           </li>
           <li class='listitem'>
            <img src="https://i.pinimg.com/originals/2f/95/7b/2f957b94668aaf62eced1547360f1c54.gif" alt="gif" srcset="">
           </li>
       </ul> -->
     <!-- </div> -->
</header>