*{
    background-color: whitesmoke;
}

.pokelist {
    padding: 10px 10px;
    border: 2px solid black ;
    border-radius: 5px;
    margin: 15px auto;
    box-shadow: 1px 1px 1px 1px rgb(207, 199, 189);
    position: relative;
    height: 15%;
}

.icon img{
    height: 50px;
    width: 50px;
}

.icon {
    float: left;
}

.content{
    float: left;
    margin-top: 6px;
    margin-left: 10px;
}

a { color: inherit; } 