.container {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 30px auto;
    margin-bottom: 0;
    overflow: auto;
    min-height: 300px;
    border: 2px solid black;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 5px 10px 10px 10px rgb(207, 199, 189);
  }

  
  
  .container::-webkit-scrollbar{
    display: none;
  }