<div class="clock">
    <img src="../../../assets/{{hours[0]}}.gif" alt="" srcset="">
    <img src="../../../assets/{{hours[1]}}.gif" alt="" srcset="">
    <h1>:</h1>
    <img *ngIf="minutes[0]" src="../../../assets/{{minutes[0]}}.gif" alt="" srcset="">
    <img *ngIf="minutes[1]" src="../../../assets/{{minutes[1]}}.gif" alt="" srcset="">
    <h1>:</h1>
    <img *ngIf="seconds[0]" src="../../../assets/{{seconds[0]}}.gif" alt="" srcset="">
    <img *ngIf="seconds[1]" src="../../../assets/{{seconds[1]}}.gif" alt="" srcset="">
</div>